version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  test:
    docker:
      - image: cimg/node:20.19
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test
  
  build:
    docker:
      - image: cimg/node:20.19
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run build
          command: npm run build

workflows:
  frontend:
    jobs:
      - test
      - build
